.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  left: 0;
  top: 0;
  z-index: 11; /* Sit on top */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
.modal .modal-container {
  position: absolute;
  top: 30%;
  left: 25%;
  width: 60%;
}
.modal .modal-container form {
  height: 60%;
  padding: 60px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.modal .modal-container form label {
  font-size: 1.5em;
  margin: 10px;
  margin: 20px;
}
.modal .modal-container form label input {
  border: 0;
  background-color: rgba(0, 0, 0, 0);
  font-size: 1.2em;
  color: #000;
  text-decoration: none;
  border-bottom: 2px solid black;
}
.modal .modal-container form label input:focus, .modal .modal-container form label inputhover {
  border-bottom: 2px solid #4ADE80;
}
.modal .modal-container form label select {
  height: 50px;
  font-size: 1.5em;
  margin: 10px;
  border: 2px solid #18181b;
  color: #000;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.modal .modal-container form label select:hover, .modal .modal-container form label select:focus {
  border-color: #4ADE80;
}
.modal .modal-container form label input:disabled, .modal .modal-container form label select:disabled {
  background-color: rgba(0, 0, 0, 0.3490196078) !important;
  border: 2px solid #ff0000 !important;
  cursor: not-allowed;
}
.modal .modal-container form input[type=button] {
  width: 100%;
  height: 50px;
  font-size: 1.5em;
  margin: 10px;
  background-color: #18181b;
  color: #4ADE80;
  border: 2px solid #4ADE80;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.modal .modal-container form input[type=button]:hover {
  border-color: #18181b;
  background-color: #4ADE80;
  color: #18181b;
}
.modal .close {
  position: absolute;
  top: 0;
  right: 0;
  color: #000;
  float: right;
  padding-right: 20px;
  font-size: 3em;
  font-weight: bold;
  z-index: 11;
}
.modal .close:hover, .modal .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

img.status {
  height: 400px;
  width: 400px;
}

.container {
  isolation: isolate;
  background-color: #ffffff;
  position: relative;
  z-index: 1;
  padding-top: calc(1.2 * (clamp(5px, 80%, 50px) + 4vh));
  padding-bottom: calc(0.8 * (clamp(5px, 80%, 50px) + 4vh));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container .center {
  background-color: #ffffff;
  border-radius: 25px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.55) 0px 20px 68px;
          box-shadow: rgba(0, 0, 0, 0.55) 0px 20px 68px;
  padding: 2.5em;
  padding-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container .center .container {
  padding: 0;
  margin: 0;
}

button.delete {
  background-color: rgba(255, 255, 255, 0);
  font-size: 3em;
  vertical-align: super;
  text-align: center;
  color: red;
  cursor: pointer;
  border: 0px solid black;
}
button.add {
  border-radius: 25px;
  width: 50px;
  height: 50px;
  font-size: 1.5em;
  margin: 10px;
  background-color: #18181b;
  color: #4ADE80;
  border: 2px solid #4ADE80;
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
button.add:hover {
  border-color: #18181b;
  background-color: #4ADE80;
  color: #18181b;
}

span.arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
span.arrow.up {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 10px;
  margin-right: 10px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #cb6ce6;
}
span.arrow.down {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 10px;
  margin-right: 10px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #cb6ce6;
}

#filter_menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

table {
  border: 0;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  text-align: center;
}
table.visitors tbody tr.empty_row td button {
  background-color: white;
  color: black;
}
table.visitors tbody tr.empty_row td button:hover {
  background-color: #cb6ce6;
}
table.visitors tbody tr td[colspan="8"] {
  background-color: #000000;
}
table.visitors tbody tr td[colspan="8"] table tr {
  background-color: #fff;
}
table.visitors tbody tr td[colspan="8"] table tr:nth-child(even) {
  background-color: #cb6ce6;
}
table.visitors tbody tr td[colspan="8"] table tr.empty_row td button {
  font-size: 1em;
  border: 0;
}
table.visitors tbody tr td[colspan="8"] table tr.empty_row td button:hover {
  background-color: #ffa8e9;
  font-size: 2em;
}
table.visitors tbody tr:nth-child(even) {
  background-color: #ffa8e9;
}
table.events tbody tr.empty_row td button {
  background-color: white;
  color: black;
}
table.events tbody tr.empty_row td button:hover {
  background-color: #ffbd59;
}
table.events tbody tr:nth-child(even) {
  background-color: #fdf9b4;
}
table.rides tbody tr.empty_row td button {
  background-color: white;
  color: black;
}
table.rides tbody tr.empty_row td button:hover {
  background-color: #ffbd59;
}
table.rides tbody tr:nth-child(even) {
  background-color: #fdf9b4;
}
table.employees tbody tr.empty_row td button {
  background-color: white;
  color: black;
}
table.employees tbody tr.empty_row td button:hover {
  background-color: #5271ff;
}
table.employees tbody tr:nth-child(even) {
  background-color: #5ce1e6;
}
table.partecipates tbody tr.empty_row td button {
  background-color: white;
  color: black;
}
table.partecipates tbody tr.empty_row td button:hover {
  background-color: #ffbd59;
}
table.partecipates tbody tr:nth-child(even) {
  background-color: #fdf9b4;
}
table thead {
  background-color: #18181b;
}
table thead th {
  font-size: 1.2em;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
}
table tbody {
  overflow-y: auto;
}
table tbody tr.empty_row {
  margin: 0;
  padding: 0;
}
table tbody tr.empty_row td {
  margin: 0;
  padding: 0;
}
table tbody tr.empty_row td button {
  margin: 0;
  padding: 10px;
  height: auto;
  width: 100%;
  border-radius: 0;
  border: 6px solid black;
  font-size: 2em;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
table tbody tr.empty_row td button:hover {
  font-size: 3em;
}
table tbody tr td {
  padding: 10px;
  overflow: hidden;
  font-size: 1.2em;
  text-overflow: clip;
  white-space: pre-line;
  word-break: break-word;
}
table tbody tr td input {
  width: 100%;
  border: 0;
  background-color: rgba(0, 0, 0, 0);
  font-size: 1.2em;
  color: #000;
  text-align: center;
}
table tbody tr td button {
  background-color: rgba(0, 0, 0, 0);
  padding: 10px;
  margin: 0;
  font-size: 1.6em;
  border: 0;
  cursor: pointer;
  color: #000000;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
table tbody tr td button:hover {
  scale: 1.6;
}

.choices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: auto;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
}
.choices .container {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0);
}
.choices .container .options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.choices .container .options input[type=radio] {
  display: none;
}
.choices .container .options input[type=radio] + label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 2px solid #000;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.choices .container .options input[type=radio] + label div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.choices .container .options input[type=radio] + label div input {
  width: 20px !important;
}
.choices .container .options input[type=radio] + label input {
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  font-size: 1em;
  cursor: text;
}
.choices .container .options input[type=radio]:checked + label {
  border-color: #4ADE80;
  font-size: 4em;
}
.choices .container button.save {
  width: 60%;
  height: 50px;
  font-size: 1.5em;
  margin: 10px;
  background-color: #000;
  color: #4ADE80;
  border: 2px solid #4ADE80;
  cursor: pointer;
}
.choices .container button.save:hover {
  border-color: #000;
  background-color: #4ADE80;
  color: #000;
}
.choices .tariffs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.choices .tariffs input[type=radio] {
  display: none;
}
.choices .tariffs input[type=radio] + label {
  border: 2px solid white;
  padding: 10px;
  margin: 10px;
}
.choices .tariffs input[type=radio] + label input {
  width: 20px !important;
}
.choices .tariffs input[type=radio]:checked + label {
  background-color: #4ADE80;
  color: #fff;
}
.choices .cost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}
.choices .cost label {
  font-size: 1.5em;
  margin: 10px;
  margin: 20px;
}
.choices .cost label input {
  border: 0;
  background-color: rgba(0, 0, 0, 0);
  font-size: 1.2em;
  color: #000;
  text-decoration: none;
  border-bottom: 2px solid black;
}
.choices .cost label input:focus, .choices .cost label inputhover {
  border-bottom: 2px solid #4ADE80;
}
.choices .durations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.choices .durations input[type=radio] {
  display: none;
}
.choices .durations input[type=radio] + label {
  border: 2px solid white;
  padding: 10px;
  margin: 10px;
}
.choices .durations input[type=radio]:checked + label {
  background-color: #4ADE80;
  color: #fff;
}
.choices .durations input[type=button] ~ button {
  border-radius: 25px;
  width: 50px;
  height: 50px;
  font-size: 1.5em;
  margin: 10px;
  background-color: #000;
  color: #4ADE80;
  border: 2px solid #4ADE80;
  cursor: pointer;
}
.choices .durations input[type=button] ~ button:hover {
  border-color: #000;
  background-color: #4ADE80;
  color: #000;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.cards .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px;
  padding: 10px;
  background-color: #5271ff;
  border: 2px solid #5ce1e6;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: #fff;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.cards .card:hover {
  background-color: #5ce1e6;
  color: #5271ff;
}