@import 'variables';

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    left: 0;
    top: 0;
    z-index: 11; /* Sit on top */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

    .modal-container {
        position: absolute;
        top: 30%;
        left: 25%;
        width: 60%;
        form {
            height: 60%;
            padding: 60px;
            background-color: #fff;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;

            label {
                font-size: 1.5em;
                margin: 10px;
                margin: 20px;

                input {
                    border: 0;
                    background-color: #00000000;
                    font-size: 1.2em;
                    color: #000;
                    // text-align: center;
                    text-decoration: none;
                    border-bottom: 2px solid black;
                    &:focus, &hover {
                        border-bottom: 2px solid $constrast-color;
                    }
                }
                select {
                    height: 50px;
                    font-size: 1.5em;
                    margin: 10px;
                    border: 2px solid $background2-color;
                    color: #000;
                    cursor: pointer;
                    transition: all 0.2s ease-in-out;
                    &:hover, &:focus {
                        border-color: $constrast-color;
                    }
                }
                input:disabled, select:disabled {
                    background-color: $disabled_background !important;
                    border: 2px solid $disabled !important;
                    cursor: not-allowed;
                }
            }
            input[type=button] {
                width: 100%;
                height: 50px;
                font-size: 1.5em;
                margin: 10px;
                background-color: $background2-color;
                color: $constrast-color;
                border: 2px solid $constrast-color;
                cursor: pointer;
                transition: all 0.2s ease-in-out;
                &:hover {
                    border-color: $background2-color;
                    background-color: $constrast-color;
                    color: $background2-color;
                }
            }
        }
    }
    .close {
        position: absolute;
        top: 0;
        right: 0;
        color: #000;
        float: right;
        padding-right: 20px;
        font-size: 3em;
        font-weight: bold;
        z-index: 11;
        &:hover, &:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
    }
}

img.status {
    height: 400px;
    width: 400px;
}

.container {
    isolation: isolate;
    background-color: $background-color;
    position: relative;
    z-index: 1;
    padding-top: calc(1.2*$nav-height);
    padding-bottom: calc(.8*$nav-height);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .center {
        background-color: $background-color;
        border-radius: $curve * 1px;
        box-shadow: $box-shadow;
        padding: 2.5em;
        padding-top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .container {
            padding: 0;
            margin: 0;
        }
    }
}

button {
    &.delete {
        background-color: #ffffff00;
        font-size: 3em;
        vertical-align: super;
        text-align: center;
        color: red;
        cursor: pointer;
        border: 0px solid black;
    }

    &.add {
        border-radius: 25px;
        width: 50px;
        height: 50px;
        font-size: 1.5em;
        margin: 10px;
        background-color: $background2-color;
        color: $constrast-color;
        border: 2px solid $constrast-color;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-in-out;
        &:hover {
            border-color: $background2-color;
            background-color: $constrast-color;
            color: $background2-color;
        }
    }
}

span.arrow {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &.up {
        display: inline-block;
        width: 0;
        height: 0;
        margin-left: 10px;
        margin-right: 10px;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid $visitatore-relation-color;
    }
    &.down {
        display: inline-block;
        width: 0;
        height: 0;
        margin-left: 10px;
        margin-right: 10px;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid $visitatore-relation-color;
    }
}

#filter_menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

table{
    border: 0;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    text-align: center;

    &.visitors {
        tbody {
            tr.empty_row {
                td button {
                    background-color: white;
                    color: black;
                    
                    &:hover {
                        background-color: $visitatore-relation-color;
                    }
                }
            }
            tr td[colspan='8'] {
                background-color: #000000;
                table {
                    tr {
                        background-color: #fff;
                    }
                    tr:nth-child(even) {
                        background-color: $visitatore-relation-color;
                    }
                    tr.empty_row {
                        
                        td button {
                            font-size: 1em;
                            border: 0;
                            &:hover {
                                background-color: $visitatore-entity-color;
                                font-size: 2em;
                            }
                        }
                    }
                }
            }
            tr:nth-child(even) {
                background-color: $visitatore-entity-color;
            }
        }
    }
    &.events {
        tbody {
            tr.empty_row {
                td button {
                    background-color: white;
                    color: black;
                    
                    &:hover {
                        background-color: $attivita-relation-color;
                    }
                }
            }
            tr:nth-child(even) {
                background-color: $attivita-entity-color;
            }
        }
    }
    &.rides {
        tbody {
            tr.empty_row {
                td button {
                    background-color: white;
                    color: black;
                    
                    &:hover {
                        background-color: $attivita-relation-color;
                    }
                }
            }
            tr:nth-child(even) {
                background-color: $attivita-entity-color;
            }
        }
    }
    &.employees {
        tbody {
            tr.empty_row {
                td button {
                    background-color: white;
                    color: black;
                    
                    &:hover {
                        background-color: $personale-relation-color;
                    }
                }
            }
            tr:nth-child(even) {
                background-color: $personale-entity-color;
            }
        }
    }
    &.partecipates {
        tbody {
            tr.empty_row {
                td button {
                    background-color: white;
                    color: black;
                    
                    &:hover {
                        background-color: $attivita-relation-color;
                    }
                }
            }
            tr:nth-child(even) {
                background-color: $attivita-entity-color;
            }
        }
    }

    thead {
        background-color: $background2-color;
        th {
            font-size: 1.2em;
            padding-top: 20px;
            padding-bottom: 20px;
            color: #fff;
        }
    }

    tbody {
        // height: 300px;
        overflow-y: auto;        
        tr {
            &.empty_row {
                margin: 0;
                padding: 0;
                td {
                    margin: 0;
                    padding: 0;
                    button {
                        margin: 0;
                        padding: 10px;
                        height: auto;
                        width: 100%;
                        border-radius: 0;
                        border: 6px solid black;
                        font-size: 2em;
                        cursor: pointer;
                        transition: all 0.2s ease-in-out;
                        &:hover {
                            font-size: 3em;
                        }
                        
                    }
                }
            }

            td {
                padding: 10px;
                overflow: hidden;
                font-size: 1.2em;
                text-overflow: clip;
                white-space: pre-line;
                word-break: break-word;

                input {
                    width: 100%;
                    border: 0;
                    background-color: #00000000;
                    font-size: 1.2em;
                    color: #000;
                    text-align: center;
                }
                button {
                    background-color: #00000000;
                    padding: 10px;
                    margin: 0;
                    font-size: 1.6em;
                    border: 0;
                    cursor: pointer;
                    color: #000000;
                    transition: all 0.2s ease-in-out;
                    &:hover {
                        scale: 1.6;
                    }
                }
            }
        }
    }
}

.choices {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    .container {
        padding: 0;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        background-color: #00000000;
        .options {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-content: center;
            justify-content: center;
            align-items: center;



            input[type="radio"] {
                display: none;

                & + label {
                    display: flex;
                    flex-direction: column;
                    border: 2px solid #000;
                    padding: 10px;
                    margin: 10px;
                    cursor: pointer;

                    div {
                        display: flex;
                        flex-direction: column;
                        flex-wrap: wrap;
                        align-content: center;
                        justify-content: center;
                        align-items: center;
                        input {
                            width: 20px !important;
                        }
                    }

                    input {
                        background-color: #00000000;
                        border: 0;
                        font-size: 1em;
                        cursor: text;
                    }
                }

                &:checked + label {
                    border-color: $constrast-color;
                    
                }
            }
        }
        button.save {
            width: 60%;
            height: 50px;
            font-size: 1.5em;
            margin: 10px;
            background-color: #000;
            color: $constrast-color;
            border: 2px solid $constrast-color;
            cursor: pointer;
            &:hover {
                border-color: #000;
                background-color: $constrast-color;
                color: #000;
            }
        
        }
    }

    .tariffs {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;

        input[type="radio"] {
            display: none;

            & + label {
                border: 2px solid white;
                padding: 10px;
                margin: 10px;

                input {
                    width: 20px !important;
                }
            }


            &:checked + label {
                background-color: $constrast-color;
                color: #fff;
            }
        }
        button {
            
        }
    }
    
    .cost {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        label {
            font-size: 1.5em;
            margin: 10px;
            margin: 20px;

            input {
                border: 0;
                background-color: #00000000;
                font-size: 1.2em;
                color: #000;
                // text-align: center;
                text-decoration: none;
                border-bottom: 2px solid black;
                &:focus, &hover {
                    border-bottom: 2px solid $constrast-color;
                }
            }
        }
    }

    .durations {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;

        input[type="radio"] {
            display: none;

            & + label {
                border: 2px solid white;
                padding: 10px;
                margin: 10px;
            }

            &:checked + label {
                background-color: $constrast-color;
                color: #fff;
            }
        }
        input[type=button]~button {
            border-radius: 25px;
            width: 50px;
            height: 50px;
            font-size: 1.5em;
            margin: 10px;
            background-color: #000;
            color: $constrast-color;
            border: 2px solid $constrast-color;
            cursor: pointer;
            &:hover {
                border-color: #000;
                background-color: $constrast-color;
                color: #000;
            }
        }
    }
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;

    .card {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        margin: 10px;
        padding: 10px;
        background-color: $personale-relation-color;
        border: 2px solid $personale-entity-color;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
        color: #fff;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        &:hover {
            background-color: $personale-entity-color;
            color: $personale-relation-color;
        }
    }
}