@import 'variables';

@font-face {
    font-family: $font;
    src: url('/fonts/Consolas.ttf') format('truetype');
}

* {
    font-family: Consolas;
    scroll-behavior: smooth;
}

body {
    position: relative; 
    background: $background-color;
    overflow-x: hidden;
    overflow-y: auto;
    white-space: nowrap;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

h1 {
    user-select: none;
}

p {
    white-space: normal;
    word-break: break-word;
}

nav {
    position: fixed;
    width: 100%;
    height: $nav-height;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    scale: 1;
    z-index: 10;
    ul {
        background-color: rgba(0, 0, 0, 0.92);
        color: #fff;
        position: relative;
        padding: 0;
        // width: $island-width;
        height: $island-height;
        border-radius: $curve * 1px;
        display: flex;
        align-items: center;
        justify-content: center;
        list-style-type: none;
        border: 2px solid black;
        box-shadow: 0 1px 2px rgba(0,0,0,0.15);
        transition: all 0.3s ease-in-out;

        li {
            user-select: none;
            font-size: 1.8em;
            padding: 2rem;
            transition: all 0.3s ease-in-out;
            text-align: center;
            a {
                text-decoration: none;
                color: #fff;
                transition: all 0.3s ease-in-out;
                &:hover {
                    font-size: 1.6em;
                    &.color-pink {
                        color: $visitatore-entity-color;
                    }
                    &.color-yellow {
                        color: $attivita-entity-color;
                    }
                    &.color-blue {
                        color: $personale-entity-color;
                    }
                }   
            } 
        }
    }
}

footer {
    background-color: black;
    width: 100%;
    #github {
        color: white;
        text-align: center;
        padding: 1em;
        font-size: 2em;
        @media screen and (max-width: 600px){
            font-size: 1.2em;
        }
        a {
            color: white;
            text-decoration: none;
        }
    }
}