{% extends 'layout.html' %}

{% block title %} Visitors {% endblock title %}

{% block content %}
    <h1>Visitors</h1>
    <p>Here are the visitors to the site:</p>
    <div class="table">
        <div class="head">
            <div class="th">Codice Fiscale</div>
            <div class="th">Nome</div>
            <div class="th">Data Di Nascita</div>
            <div class="th">Altezza</div>
            <div class="th">Peso</div>
        </div>
        {% for visitor in visitors %}
            {{ visitor.CodiceFiscale }}
            {{ visitor.Nome }} {{ visitor.Cognome }}
            {{ visitor.DataDiNascita }}
            {{ visitor.Altezza }}
            {{ visitor.Peso }}
        {% endfor %}
    </div>
{% endblock content %}