{% extends 'layout.html' %}

{% block title %} Attività {% endblock title %}

{% block links_css %}
    <link rel="stylesheet" href="css/content.css">
{% endblock links_css %}

{% block content %}
    <div class="container">
        <h1>Attività</h1>

        <div class="box">
            INGRESSI
        </div>

        <div href="/rides.html" class="box">
            ATTRAZIONI
        </div>
        <div href="/events.html" class="box">
            EVENTI
        </div>

    </div>
{% endblock content %}