{% extends 'layout.html' %}

{% block title %} Employees {% endblock title %}

{% block links_css %}
    <link rel="stylesheet" href="css/content.css">
{% endblock links_css %}

{% block content %}
    <script>
        const url_for_add_employee = "{{ url_for_add_employee }}"
        const url_for_get_roles = "{{ url_for_get_roles }}"
        const url_for_check_require = "{{ url_for_check_require }}"
        const url_for_get_services = "{{ url_for_get_services }}"
    </script>

    <div class="modal" id="employee" style="display: none;">
        <div class="modal-container">
            <span class="close"></span>
            <form action="{{ url_add_employee }}" method="post">
                <label for="CodiceFiscale">Codice Fiscale:
                    <input type="text" name="CodiceFiscale" id="employee_codicefiscale">
                </label>
                <label for="Nome">Nome:
                    <input type="text" name="Nome" id="employee_nome">
                </label>
                <label for="Cognome">Cognome:
                    <input type="text" name="Cognome" id="employee_cognome">
                </label>
                <label for="DataDiNascita">Data Di Nascita:
                    <input type="date" name="DataDiNascita" id="employee_datadinascita">
                </label>
                <label for="Ruolo">
                    <div>
                        <h3>Ruolo:</h3>
                        <input list="roles" id="employee_role" name="Ruolo" placeholder="Nome Ruolo" onblur="updateStipendio(this)" title="Ruolo">
                        <datalist id="roles">
                        </datalist>
                        <input type="float" oninput="acceptFloat(this)" placeholder="Stipendio" name="Stipendio" id="employee_stipendio">
                    </div>
                </label>
                <label for="Servizio" style="display: none;">Servizio:
                    <select name="Servizio" id="employee_servizio">

                    </select>
                </label>
                <input type="button" onclick="addEmployee()" value="Assumi">
            </form>
        </div>
    </div>

    <div id="content" class="container">
        <div class="center">
            <h1>Personale</h1>
            
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>Codice Fiscale</th>
                        <th>Nome Cognome</th>
                        <th>Data Di Nascita</th>
                        <th>Ruolo</th>
                        <th>Servizio</th>
                    </tr>
                </thead>
                <tbody>  
                    <tr class="empty_row">
                        <td colspan="6">
                            <button class="add" id="add_employee" onclick="modalEmployee()">+</button>
                        </td>
                    </tr>
                    {% for employee in employees %}
                        <tr>
                            <td><button class="delete" onclick="deleteEmployee()">x</button></td>
                            <td>{{ employee.CodiceFiscale }}</td>
                            <td>{{ employee.Nome }} {{ employee.Cognome }}</td>
                            <td>{{ employee.DataDiNascita }}</td>
                            <td>{{ employee.Ruolo }}</td>
                            {% if employee.Servizio == None %}
                                <td><button class="add" id="service_add" >+</button></td>
                            {% else %}
                                <td>{{ employee.Servizio }}</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>    
            </table>
        </div>
    </div>
    <script src="js/employees.js"></script>
{% endblock content %}