{% extends 'layout.html' %}

{% block title %} Employees {% endblock title %}

{% block links %}
    <link rel="stylesheet" href="css/content.css">
{% endblock links %}

{% block content %}
    <script>
        const url_for_add_employee = "{{ url_for_add_employee }}"
        const url_for_get_roles = "{{ url_for_get_roles }}"
        const url_for_delete_role = "{{ url_for_delete_role }}"
        const url_for_get_categories = "{{ url_for_get_categories }}"
        const url_for_add_employee_service = "{{ url_for_add_employee_service }}"
    </script>

    <div class="modal" id="employee" style="display: none;">
        <div class="modal-container">
            <span class="close">&times;</span>
            <form>
                <label for="CodiceFiscale">Codice Fiscale:
                    <input type="text" name="CodiceFiscale" id="employee_codicefiscale">
                </label>
                <label for="Nome">Nome:
                    <input type="text" name="Nome" id="employee_nome">
                </label>
                <label for="Cognome">Cognome:
                    <input type="text" name="Cognome" id="employee_cognome">
                </label>
                <label for="DataDiNascita">Data Di Nascita:
                    <input type="date" name="DataDiNascita" id="employee_datadinascita">
                </label>
                <label for="Ruolo">
                    <div>
                        <h3>Ruolo:</h3>
                        <input list="datalist_roles" id="employee_ruolo" name="Ruolo" placeholder="Nome Ruolo" oninput="updateSelectedRole(this)" title="Ruolo">
                        <datalist id="datalist_roles">
                        </datalist>
                        <input type="float" oninput="acceptFloat(this)" placeholder="Stipendio" name="Stipendio" id="employee_stipendio">
                        <ul id="roles_require">
                            
                        </ul>
                    </div>
                </label>
                <input type="button" onclick="addEmployee()" value="Assumi">
            </form>
        </div>
    </div>

    <div id="content" class="container">
        <div class="center" id="container_employees">
            <h1>Personale</h1>
            
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>Codice Fiscale</th>
                        <th>Nome Cognome</th>
                        <th>Data Di Nascita</th>
                        <th>Ruolo</th>
                        <th>Servizio</th>
                    </tr>
                </thead>
                <tbody>  
                    <tr class="empty_row">
                        <td colspan="6">
                            <button class="add" id="add_employee" onclick="modalEmployee()">+</button>
                        </td>
                    </tr>
                    {% for employee in employees %}
                        <tr>
                            <td><button class="delete" onclick="deleteEmployee('{{ employee.CodiceFiscale }}')">x</button></td>
                            <td>{{ employee.CodiceFiscale }}</td>
                            <td>{{ employee.Nome }} {{ employee.Cognome }}</td>
                            <td>{{ employee.DataDiNascita }}</td>
                            <td>{{ employee.Ruolo }}</td>
                            {% if employee.Servizio != false %}
                                <td>
                                    <select id="service_{{ employee.CodiceFiscale }}" onchange="addService('{{ employee.CodiceFiscale }}',this.value)">
                                    <option value="">no service</option>
                                    {% for service in services %}
                                        {% if service.Nome == employee.Servizio %}
                                            <option value="{{ service.IdServizio }}" selected>{{ service.Nome }}</option>
                                        {% else %}
                                            <option value="{{ service.IdServizio }}">{{ service.Nome }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </td>
                            {% else %}
                                <td></td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>    
            </table>
        </div>

        <!-- <div class="center" id="container_roles">
            <h1>Ruoli</h1>
            <div id="cards_roles" class="cards">
                
            </div>
        </div> -->
    </div>
    <script src="js/employees.js"></script>
{% endblock content %}