{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block links %}
    <link rel="stylesheet" href="css/content.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock links %}


{% block content %}
    <script>
        const url_for_stats_entries = {{ url_for_stats_entries }};
        const url_for_stats_partecipates = {{ url_for_stats_partecipates }};
        const url_for_stats_subscriptions = {{ url_for_stats_subscriptions }};
    </script>
    
    <div class="container">
        <div class="center">
            <h1>DASHBOARD</h1>
            <div id="stats_entries"></div>
            <div id="stats_partecipates"></div>
            <div id="stats_subscriptions"></div>
        </div>
    </div>

    <script src="js/dashboard.js"></script>
{% endblock %}