{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block links %}
    <link rel="stylesheet" href="css/content.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock links %}


{% block content %}
    <script>
        const url_for_get_categories = '{{ url_for_get_categories }}'
        const url_for_get_tariffs = '{{ url_for_get_tariffs }}'
        const url_for_stats_entries = '{{ url_for_stats_entries }}';
        const url_for_stats_partecipates = '{{ url_for_stats_partecipates }}';
        const url_for_stats_subscriptions = '{{ url_for_stats_subscriptions }}';
    </script>
    
    <div class="container">
        <div class="center">
            <h1>DASHBOARD</h1>
            <div id="stats_entries">
                <h3>Statistica dei giorni con il maggior numero di ingressi</h3>
                <label for="datainizio">Da:
                    <input type="date" name="datainizio" id="stats_entries-datainizio">
                </label>
                <label for="datafine">A:
                    <input type="date" name="datafine" id="stats_entries-datafine">
                </label>
                <canvas id="entries_chart"></canvas>
            </div>
            <div id="stats_partecipates">
                <h3>Statistica attrazioni più frequentate con possibilità di filtrare per categoria</h3>
                <label for="filter_categorie">categoria:
                    <select id="filter_categorie"></select>
                </label>
                <canvas id="partecipates_chart"></canvas>
            </div>
            <div id="stats_subscriptions">
                <h3>Statistica abbonamenti più acquistati con la possibilità di filtrare per tariffa e durata</h3>
                <label for="filter_tariffe">tariffa:
                    <select id="filter_tariffe"></select>
                </label>
                <canvas id="subscriptions_chart"></canvas>
            </div>
        </div>
    </div>

    <script src="js/dashboard.js"></script>
{% endblock %}