<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a class="color-pink" href="/visitors">Visitatori</a></li>
        <li>
            <a class="color-pink" href="/subscriptions">Abbonamenti</a>
        </li>
        <li>
            <a class="color-yellow" href="/activities">Attività</a>
        </li>
        <li>
            <a class="color-blue" href="/employees">Personale</a>
        </li>
        <li>
            <a class="color-blue" href="/services">Servizi</a>
        </li>
    </ul>
</nav>