<nav>
    <ul>
        <li><a href="/visitors">Visitatori</a></li>
        <li>
            <a href="/subscriptions">Abbonamenti</a>
            <ul>
                <li><a href="/subscription/duration">Durate</a></li>
                <li><a href="/subscription/tariff">Tariffe</a></li>
            </ul>
        </li>
        <li>
            <a href="/activities">Attività</a>
            <ul>
                <li><a href="/activities/rides">Attrazioni</a></li>
                <li><a href="/activities/events">Eventi</a></li>
            </ul>
        </li>
        <li>
            <a href="/employees">Personale</a>
            <ul>
                <li><a href="/activities/roles">Ruoli</a></li>
                <li><a href="/activities/requires">Necessita</a></li>
            </ul>
        </li>
        <li>
            <a href="/services">Servizi</a>
            <ul>
                <li><a href="/services/timetables">Orari</a></li>
            </ul>
        </li>
    </ul>
</nav>