{% extends 'layout.html' %}

{% block title %} Partecipazioni {% endblock title %}

{% block links %}
    <link rel="stylesheet" href="css/content.css">
{% endblock links %}

{% block content %}
    <script>
        const url_for_get_partecipates = "{{ url_for_get_partecipates }}";
    </script>

    <div id="content" class="container">
        <div class="center">
            <h1>Partecipazioni</h1>
            <h3> Visitatore {{ codicefiscale }}, entrato il {{ dataingresso }}: </h3>
            
            <table id="table_partecipates">
                <thead>
                    <tr>
                        <th></th>
                        <th onclick="orderBy('time')">Ora</th>
                        <th>Nome Attivita</th>
                        <th>Posti Occupati / Totali</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
    
{% endblock content %}