{% extends 'layout.html' %}

{% block title %} Services {% endblock title %}

{% block links %}
    <link rel="stylesheet" href="css/content.css">
{% endblock links %}

{% block content %}
    <script>
        const url_for_get_services = "{{ url_for_get_services }}";
        const url_for_add_service = "{{ url_for_add_service }}";
        const url_for_get_services_types = "{{ url_for_get_services_types }}";
        const url_for_get_timetables = "{{ url_for_get_timetables }}";
    </script>

    <div id="content" class="container">
        <div class="center">
            <h1>
                Servizi 
                <select id="types" onchange="getServices(this.value)">
                    <option value="all">all</option>
                </select>
            </h1>
            <div id="services" class="cards">
                
            </div>
        </div>
    </div>
    <script src="js/services.js"></script>
{% endblock content %}