{% extends 'layout.html' %}

{% block title %} Services {% endblock title %}

{% block links_css %}
    <link rel="stylesheet" href="css/content.css">
{% endblock links_css %}

{% block content %}
    <script>
        const url_for_add_service = "{{ url_for_add_service }}";
        const url_for_get_timetables = "{{ url_for_get_timetables }}";
    </script>

    <div id="content" class="container">
        <div class="center">
            <h1>
                Servizi 
                <select id="tipo">
                    <option value="all">all</option>
                </select>
            </h1>
            <div class="cards">
                {% for service in services %}
                    <div class="card">
                        <div class="card-header">
                            <h4>{{ service.Nome }}</h4>
                        </div>
                        <div class="card-body">
                            <p>{{ service.Tipo }}</p>
                        </div>
                        <div class="timetable">{{ service.IdOrario }}</div>
                    </div>    
                {% endfor %}
                <button class="add">+</button>
            </div>
        </div>
    </div>
    <script src="js/services.js"></script>
{% endblock content %}