{% extends 'layout.html' %}

{% block links %}
    <link rel="stylesheet" href="css/content.css">
{% endblock links %}

{% block title %} Abbonamenti {% endblock title %}

{% block content %}
    <script>
        const url_for_get_categories = "{{ url_for_get_categories }}";
        const url_for_get_tariffs = "{{ url_for_get_tariffs }}";
        const url_for_add_tariff = "{{ url_for_add_tariff }}";
        const url_for_get_durations = "{{ url_for_get_durations }}";
        const url_for_add_duration = "{{ url_for_add_duration }}";
        const url_for_cost = "{{ url_for_cost }}";
    </script>
    
    <div id="content" class="container">
        <h1>Abbonamenti</h1>
        <p>Abbonamenti possibili:</p>

        <div class="choices">
            <div class="container">
                <div class="options" id="options_tariff">
                    {% for tariff in tariffs %}
                        <input type="radio" name="tariff" id="{{ tariff.NomeTariffa }}">
                        <label for="{{ tariff.NomeTariffa }}">
                            {{ tariff.NomeTariffa }}:
                            {{ tariff.CostoGiornaliero }}€ / Giorno
                            <ul class="categories">
                                {% for category in tariff.Categories %}
                                    <li>{{ category.Nome }}</li>
                                {% endfor %}
                            </ul>
                        </label>
                    {% endfor %}
                </div>
                <button class="add" id="btn_add_tariff" onclick='createOptionTariff()'>+</button>
            </div>
        
            <div class="container" style="display: none;">
                <div class="options" id="options_duration">
                    {% for duration in durations %}
                        <input type="radio" name="duration" id="{{ duration.Giorni }}">    
                        <label for="{{ duration.Giorni }}">
                            {{ duration.Descrizione }}: {{ duration.Giorni }}
                            Sconto: {{ duration.Sconto }} %
                        </label>
                    {% endfor %}
                </div>
                <button class="add" id="btn_add_duration" onclick='createOptionDuration()'>+</button>
            </div>
            <div class="cost" id="box_costototale" style="display: none;" >
                <label for="costTot">Costo totale:
                    <input type="text" name="costTot" id="costototale" disabled>
                </label>
            </div>
        </div>
    </div>

    <script src="js/subscriptions.js"></script>
{% endblock content %}