{% extends 'layout.html' %}

{% block title %} Visitors {% endblock title %}

{% block links_css %}
    <link rel="stylesheet" href="css/content.css">
{% endblock links_css %}

{% block content %}
    <script>
        const url_for_add_visitor = "{{ url_for_add_visitor }}";
        const url_add_subscription = "{{ url_for_add_subscription }}";
        const url_for_get_durations = "{{ url_for_get_durations }}";
        const url_for_get_tariffs = "{{ url_for_get_tariffs }}";
        const url_for_get_subscription_cost = "{{ url_for_get_subscription_cost }}";
        const url_for_get_entries = "{{ url_for_get_entries }}";
    </script>
    <!-- SUBSCRIPTION -->
    <div class="modal" id="subscription" style="display:none">
        <div class="modal-container">
            <span class="close"></span>
            <form action="{{ url_add_subscription }}" method="post">
                <label for="CodiceFiscale">Codice Fiscale:
                    <input type="text" name="CodiceFiscale" id="subscription_codicefiscale" disabled>
                </label>
                <label for="DataInizio">Data di inizio validità:
                    <input type="date" name="DataInizio" id="datainizio">
                </label>
                <label for="Costo">Costo Totale:
                    <input type="text" name="Costo" id="cost" disabled>
                </label>
                <label for="NomeTariffa">Tariffa scelta:
                    <select name="NomeTariffa" id="tariffa" disabled>
                        
                    </select>
                </label>
                <label for="Giorni">Giorni di validità:
                    <select name="Giorni" id="durata" disabled>

                    </select>
                </label>
                <input type="button" onclick="" value="submit">
            </form>
        </div>
    </div>

    <!-- VISITOR -->
    <div class="modal" id="visitor" style="display:none">
        <div class="modal-container">
            <span class="close"></span>
            <div class="content">
                <form action="{{ url_for_add_visitor }}">
                    <label for="CodiceFiscale">Codice Fiscale:
                        <input type="text" name="CodiceFiscale" id="visitor_codicefiscale">
                    </label>
                    <label for="Nome">Nome:
                        <input type="text" name="Nome" id="nome">
                    </label>
                    <label for="Cognome">Cognome:
                        <input type="text" name="Cognome" id="cognome">
                    </label>
                    <label for="DataDiNascita">Data di nascita:
                        <input type="date" name="DataDiNascita" id="birthday">
                    </label>
                    <label for="Altezza">Altezza:
                        <input type="number" oninput="acceptInteger(this)" name="Altezza" id="altezza">
                    </label>
                    <label for="Peso">Peso:
                        <input type="float" oninput="acceptFloat(this)" name="Peso" id="peso">
                    </label>
                    <input type="button" onclick="addVisitor()" value="Add Visitor">
                </form>
            </div>
        </div>
    </div>
    <div id="content" class="container">
        <div class="center">
            <h1>Visitors</h1>
            
            

            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>Codice Fiscale</th>
                        <th>Nome Cognome</th>
                        <th>Data Di Nascita</th>
                        <th>Altezza</th>
                        <th>Peso</th>
                        <th>Abbonamento</th>
                        <th>Ingressi</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="empty_row">
                        <td colspan="8"><button class="add" id="add_visitor" onclick='modalVisitor()'>+</button></td>
                    </tr>
                    {% for visitor in visitors %}
                        <tr>
                            <td><button class="delete" onclick='deleteVisitor({{ visitor|tojson }})'>x</button></td>
                            <td>{{ visitor.CodiceFiscale }}</td>
                            <td>{{ visitor.Nome }} {{ visitor.Cognome }}</td>
                            <td>{{ visitor.DataDiNascita }}</td>
                            <td>{{ visitor.Altezza }}</td>
                            <td>{{ visitor.Peso }}</td>
                            {% if visitor.subscription.CodiceFiscale == None %}
                                <td><button onclick='modalSubscription("{{ visitor.CodiceFiscale }}", "POST", "{{ url_for_get_tariffs }}", "{{ url_for_get_durations }}", "{{ url_for_get_subscription_cost }}")'>+</button></td>    
                            {% else %}
                                <td><button onclick='modalSubscription({{ visitor.subscription|tojson }}, "DELETE")'>Active</button></td>
                            {% endif %}
                            <td><span class="arrow down" onclick="showEntries(this, '{{ visitor.CodiceFiscale }}')"></span></td>
                        </tr>
                    {% endfor %}
                </tbody>    
            </table>
        </div>
    </div>
    <script src="js/visitors.js"></script>
{% endblock content %}